<h5>Add an Activity</h5>
<%= form_with model: ([@task, @task.activities.build]) do |form| %>


  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>